<a href="https://colab.research.google.com/github/seryeongi/project2/blob/master/ml4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/goms_feature_prep.csv')

In [ ]:
data.head()

   jobseekAftGradu jobseekAftGradu_str  ...  subJobCate    subJobCate_str
0                2                 아니오  ...         541         경호·보안 종사자
1                1                   예  ...           0                무직
2                2                 아니오  ...         214       문리·기술·예능 강사
3                2                 아니오  ...         522   항공기·선박·열차 객실승무원
4                2                 아니오  ...         615            판매 종사자

[5 rows x 31 columns]

majorcate, mainJobCate 사용

In [ ]:
data.isnull().sum()

jobseekAftGradu        0
jobseekAftGradu_str    0
workWithin1yr          0
workWithin1yr_str      0
wishWorkHr             0
wishSalary             0
JobYNaftGradu          0
JobYNaftGradu_str      0
wayTolivexpense        0
wayTolivexpense_str    0
schoolType             0
schoolType_str         0
majorType              0
majorType_str          0
majorCate              0
majorCate_str          0
major                  0
major_str              0
age                    0
internExp              0
toeicScore             0
tospGrade              0
trainingHr             0
jobseekYN              0
certNum                0
mainJobCate            0
mainJobCate_str        0
midJobCate             0
midJobCate_str         0
subJobCate             0
subJobCate_str         0
dtype: int64

In [ ]:
data1 = data.drop(['jobseekAftGradu_str','workWithin1yr_str','JobYNaftGradu_str','wayTolivexpense_str','schoolType_str','majorType','majorType_str','majorCate_str','major','major_str','mainJobCate_str','midJobCate','midJobCate_str','subJobCate','subJobCate_str'],axis=1)

In [ ]:
data1.head()

   jobseekAftGradu  workWithin1yr  wishWorkHr  ...  jobseekYN  certNum  mainJobCate
0                2              2           0  ...          1        0            6
1                1              2           3  ...          1        0            0
2                2              2           0  ...          0        1            3
3                2              2           0  ...          0        0            6
4                2              2           0  ...          1        1            7

[5 rows x 16 columns]

In [ ]:
data1.corr()

                 jobseekAftGradu  workWithin1yr  ...   certNum  mainJobCate
jobseekAftGradu         1.000000       0.590611  ... -0.017914     0.264452
workWithin1yr           0.590611       1.000000  ...  0.015523     0.387083
wishWorkHr             -0.557803      -0.849883  ... -0.044043    -0.430034
wishSalary             -0.492292      -0.770728  ... -0.056088    -0.413296
JobYNaftGradu           0.206761       0.174078  ... -0.051886     0.112625
wayTolivexpense         0.413069       0.604614  ...  0.011225     0.525301
schoolType             -0.000098      -0.003497  ... -0.067994    -0.155942
majorCate               0.020261       0.020851  ... -0.064330    -0.109489
age                     0.039478       0.050639  ...  0.024569     0.045411
internExp               0.078706       0.115203  ... -0.006254     0.085887
toeicScore             -0.018634      -0.001360  ...  0.009143    -0.113710
tospGrade              -0.003876       0.000287  ...  0.025461    -0.049991
jobseekYN              -0.047801      -0.001145  ...  0.119315    -0.035205
certNum                -0.017914       0.015523  ...  1.000000     0.022176
mainJobCate             0.264452       0.387083  ...  0.022176     1.000000

[15 rows x 15 columns]

In [ ]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import mean_squared_error

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import accuracy_score

from xgboost import XGBRegressor
from xgboost import plot_importance

In [ ]:
y_main = data1['mainJobCate']
x_main = data1.drop(['mainJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
dtr = DecisionTreeRegressor(max_depth=3, random_state=12)
dtr.fit(X_train, y_train)

rfr = RandomForestRegressor(max_depth = 3,random_state=12)
rfr.fit(X_train, y_train)

xgbr = XGBRegressor(objective='reg:squarederror', max_depth=3, random_state=12)
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=12, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
y_train_pred = dtr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = dtr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 4.1280
Test MSE: 4.2456

In [ ]:
y_train_pred = rfr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = rfr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

y_train_pred = rfr.predict(X_train)

Train MSE: 4.0966
Test MSE: 4.2200

In [ ]:
y_train_pred = xgbr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = xgbr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 3.8090
Test MSE: 4.0036

mid

In [ ]:
data2 = data.drop(['jobseekAftGradu_str','workWithin1yr_str','JobYNaftGradu_str','wayTolivexpense_str','schoolType_str','majorType','majorType_str','majorCate_str','major','major_str','mainJobCate_str','mainJobCate','midJobCate_str','subJobCate','subJobCate_str'],axis=1)

In [ ]:
data2.columns

Index(['jobseekAftGradu', 'workWithin1yr', 'wishWorkHr', 'wishSalary',
       'JobYNaftGradu', 'wayTolivexpense', 'schoolType', 'majorCate', 'age',
       'internExp', 'toeicScore', 'tospGrade', 'trainingHr', 'jobseekYN',
       'certNum', 'midJobCate'],
      dtype='object')

In [ ]:
y_main = data2['midJobCate']
x_main = data2.drop(['midJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
dtr = DecisionTreeRegressor(max_depth=3, random_state=12)
dtr.fit(X_train, y_train)

rfr = RandomForestRegressor(max_depth = 3,random_state=12)
rfr.fit(X_train, y_train)

xgbr = XGBRegressor(objective='reg:squarederror', max_depth=3, random_state=12)
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=12, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
y_train_pred = dtr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = dtr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 45.6006
Test MSE: 46.5201

In [ ]:
y_train_pred = rfr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = rfr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

y_train_pred = rfr.predict(X_train)

Train MSE: 45.1510
Test MSE: 46.0387

In [ ]:
y_train_pred = xgbr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = xgbr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 42.1157
Test MSE: 43.8149

In [ ]:
from lightgbm import LGBMRegressor

In [ ]:
lgbm_reg = LGBMRegressor( max_depth=3, random_state=12)
lgbm_reg.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=3,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=12, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_train_pred = lgbm_clf.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = lgbm_clf.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 42.2738
Test MSE: 43.7043

subjobcate

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/goms_feature_prep_com.csv')

In [ ]:
data.head()

   jobseekAftGradu jobseekAftGradu_str  ...  jobYN_str jobYN
0                2                 아니오  ...        근로자     1
1                1                   예  ...        무직자     0
2                2                 아니오  ...        근로자     1
3                2                 아니오  ...        근로자     1
4                2                 아니오  ...        근로자     1

[5 rows x 29 columns]

In [ ]:
data3 = data.drop(['jobseekAftGradu_str','workWithin1yr_str','JobYNaftGradu_str','wayTolivexpense_str','schoolType_str','majorCate_str','mainJobCate_str','mainJobCate','midJobCate_str','midJobCate','subJobCate_str','jobYN_str','jobYN'],axis=1)

In [ ]:
data3.head()

   jobseekAftGradu  workWithin1yr  wishWorkHr  ...  jobseekYN  certNum  subJobCate
0                2              2           0  ...          1        0          73
1                1              2           3  ...          1        0           0
2                2              2           0  ...          0        1          41
3                2              2           0  ...          0        0          68
4                2              2           0  ...          1        1          82

[5 rows x 16 columns]

In [ ]:
data3.corr()

                 jobseekAftGradu  workWithin1yr  ...   certNum  subJobCate
jobseekAftGradu         1.000000       0.590611  ... -0.017914    0.277004
workWithin1yr           0.590611       1.000000  ...  0.015523    0.405454
wishWorkHr             -0.557803      -0.849883  ... -0.044043   -0.450444
wishSalary             -0.492292      -0.770728  ... -0.056088   -0.432911
JobYNaftGradu           0.206761       0.174078  ... -0.051886    0.125040
wayTolivexpense         0.413069       0.604614  ...  0.011225    0.550590
schoolType             -0.000098      -0.003497  ... -0.067994   -0.155924
majorCate               0.020261       0.020851  ... -0.064330   -0.107178
age                     0.039478       0.050639  ...  0.024569    0.048944
internExp               0.078706       0.115203  ... -0.006254    0.083456
toeicScore             -0.018634      -0.001360  ...  0.009143   -0.120862
tospGrade              -0.003876       0.000287  ...  0.025461   -0.052452
trainingHr             -0.007777      -0.003676  ...  0.040336   -0.009677
jobseekYN              -0.047801      -0.001145  ...  0.119315   -0.040965
certNum                -0.017914       0.015523  ...  1.000000    0.029902
subJobCate              0.277004       0.405454  ...  0.029902    1.000000

[16 rows x 16 columns]

In [ ]:
y_main = data3['subJobCate']
x_main = data3.drop(['subJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
dtr = DecisionTreeRegressor(max_depth=3, random_state=12)
dtr.fit(X_train, y_train)

rfr = RandomForestRegressor(max_depth = 3,random_state=12)
rfr.fit(X_train, y_train)

xgbr = XGBRegressor(objective='reg:squarederror', max_depth=3, random_state=12)
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=12, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
y_train_pred = dtr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = dtr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 570.6813
Test MSE: 582.6663

In [ ]:
y_train_pred = rfr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = rfr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

y_train_pred = rfr.predict(X_train)

Train MSE: 565.4750
Test MSE: 577.6326

In [ ]:
y_train_pred = xgbr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = xgbr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 524.2288
Test MSE: 548.8263

In [ ]:
lgbm_reg = LGBMRegressor( max_depth=3, random_state=12)
lgbm_reg.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=3,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=12, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_train_pred = lgbm_reg.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = lgbm_reg.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 523.7102
Test MSE: 547.4951

pickle 저장 - 최종본

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/goms_feature_prep_com.csv')

In [ ]:
data.head()

   jobsearch  yrwish  wishhr  wishsalary  ...  train  jobseek  cert  subJobCate
0          2       2       0           0  ...      0        1     0          73
1          1       2       3        2400  ...    240        1     0           0
2          2       2       0           0  ...      0        0     1          41
3          2       2       0           0  ...      0        0     0          68
4          2       2       0           0  ...      0        1     1          82

[5 rows x 16 columns]

In [ ]:
y_main = data['subJobCate']
x_main = data.drop(['subJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
dtr = DecisionTreeRegressor(max_depth=3, random_state=12)
dtr.fit(X_train, y_train)

rfr = RandomForestRegressor(max_depth = 3,random_state=12)
rfr.fit(X_train, y_train)

xgbr = XGBRegressor(objective='reg:squarederror', max_depth=3, random_state=12)
xgbr.fit(X_train, y_train)

XGBRegressor(base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=1, gamma=0,
             importance_type='gain', learning_rate=0.1, max_delta_step=0,
             max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
             n_jobs=1, nthread=None, objective='reg:squarederror',
             random_state=12, reg_alpha=0, reg_lambda=1, scale_pos_weight=1,
             seed=None, silent=None, subsample=1, verbosity=1)

In [ ]:
y_train_pred = dtr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = dtr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 570.6813
Test MSE: 582.6663

In [ ]:
y_train_pred = rfr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = rfr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

y_train_pred = rfr.predict(X_train)

Train MSE: 565.4750
Test MSE: 577.6326

In [ ]:
y_train_pred = xgbr.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = xgbr.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 524.2288
Test MSE: 548.8263

In [ ]:
lgbm_reg = LGBMRegressor( max_depth=3, random_state=12)
lgbm_reg.fit(X_train, y_train)

LGBMRegressor(boosting_type='gbdt', class_weight=None, colsample_bytree=1.0,
              importance_type='split', learning_rate=0.1, max_depth=3,
              min_child_samples=20, min_child_weight=0.001, min_split_gain=0.0,
              n_estimators=100, n_jobs=-1, num_leaves=31, objective=None,
              random_state=12, reg_alpha=0.0, reg_lambda=0.0, silent=True,
              subsample=1.0, subsample_for_bin=200000, subsample_freq=0)

In [ ]:
y_train_pred = lgbm_reg.predict(X_train)
train_mse = mean_squared_error(y_train, y_train_pred)
print("Train MSE: %.4f" % train_mse)

y_test_pred = lgbm_reg.predict(X_test)
test_mse = mean_squared_error(y_test, y_test_pred)
print("Test MSE: %.4f" % test_mse)

Train MSE: 523.7102
Test MSE: 547.4951

In [ ]:
import pickle

In [ ]:
from sklearn.externals import joblib
 
# save model
joblib.dump(lgbm_reg, 'lgb.pkl')

/usr/local/lib/python3.7/dist-packages/sklearn/externals/joblib/__init__.py:15: FutureWarning: sklearn.externals.joblib is deprecated in 0.21 and will be removed in 0.23. Please import this functionality directly from joblib, which can be installed with: pip install joblib. If this warning is raised when loading pickled models, you may need to re-serialize those models with scikit-learn 0.21+.
  warnings.warn(msg, category=FutureWarning)

['lgb.pkl']

In [ ]:
# load model
load_model = joblib.load('lgb.pkl')

In [ ]:
from lightgbm import LGBMClassifier

In [ ]:
data = pd.read_csv('/content/drive/MyDrive/goms_feature_prep_com.csv')

y_main = data['subJobCate']
x_main = data.drop(['subJobCate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)
lgbm_clf = LGBMClassifier( max_depth=3, random_state=12)
lgbm_clf.fit(X_train, y_train)
y_train_pred = lgbm_clf.predict(X_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_train,y_train_pred)

0.08628283781658015

In [ ]:
# save model
joblib.dump(lgbm_clf, 'lgb_clf.pkl')

['lgb_clf.pkl']

In [ ]:
# load model
load_model = joblib.load('lgb.pkl')
# result = load_model.predict(pd.DataFrame())

mid

In [ ]:
data = pd.read_excel('/content/goms_feature_prep_com_mid.xlsx',engine='openpyxl')

In [ ]:
data.head()

   jobsearch  yrwish  wishhr  wishsalary  ...  train  jobseek  cert  midJobcate
0          2       2       0           0  ...      0        1     0          54
1          1       2       3        2400  ...    240        1     0           0
2          2       2       0           0  ...      0        0     1          21
3          2       2       0           0  ...      0        0     0          52
4          2       2       0           0  ...      0        1     1          61

[5 rows x 16 columns]

In [ ]:
y_main = data['midJobcate']
x_main = data.drop(['midJobcate'],axis=1)

X_train, X_test, y_train, y_test = train_test_split(x_main, y_main, test_size=0.3, random_state=0)

lgbm_clf = LGBMClassifier( max_depth=3, random_state=12)
lgbm_clf.fit(X_train, y_train)
y_train_pred = lgbm_clf.predict(X_train)
from sklearn.metrics import accuracy_score
accuracy_score(y_train,y_train_pred)

0.6403964134025484

In [ ]:
# save model
joblib.dump(lgbm_clf, 'lgb_clf_mid.pkl')

['lgb_clf_mid.pkl']